@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/forms/';
@import 'bootstrap/scss/forms/input-group';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/popover';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/placeholders';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/forms/floating-labels';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/toasts';

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
