.table-scroll-container {
  max-height: 450px;
  overflow-y: auto;
}

.table-scroll-container thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  height: 28px;
  padding: 0;
  vertical-align: middle;
}
