#root {
  max-width: 1280px;
  margin: 0 auto;

}

.button-show-password {
    position: absolute;
    top: 1.1rem;
    right: 2rem;
    padding: 0;
    font-size: 0.85rem;
    user-select: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.btn-help:hover {
    color: black !important;
    text-decoration: none;
    opacity: 0.75;
}